.contain {
    margin: 0 auto;
    @include respond(sm) {
        width: 556px;
    }
    @include respond(md){
        width: 748px;
    }
    @include respond(lg){
        width: 734px;
    }
    @include respond(xl){
        width: 1200px;
       
    }
}

.row {
    margin-right:0 !important;
    margin-left: 0 !important;
    @include respond(sm){
        margin-right:-15px !important;
        margin-left: -15px !important;
    }
}

.col--center {
    
    display: flex;
    justify-content: center;

    @include respond(xl){
        display: block;
        
    }
}