.navigationbar {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    padding-top: 31px;
    margin-left: 20px;
    margin-right: 20px;
    @include respond(sm) {
        margin-left: 0;
        margin-right: 0;
    }
    .logo {
        width: 38px;
        margin-right: auto;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 406px;
        a {
            &:link, &:visited, &:hover {
                text-decoration: none;
                color:$white;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 800;
            }
        }
    }
}